altgraph==0.*
beautifulsoup4==4.*
certifi
chardet==3.*
cloudscraper==1.2.*
future==0.*
idna==2.*
pefile
psutil==5.*
PyInstaller==4.*
pyparsing==2.*
PyQt5==5.*
PyQt5-sip==12.*
pywin32-ctypes==0.*
requests==2.*
requests-toolbelt==0.*
soupsieve==2.*
urllib3==1.*
